<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="stylesheets/fabulinus.css" rel="stylesheet">
      <link rel="shortcut icon" href="images/logo.ico">
      <link rel="icon" type="image/png" href="images/logo.ico" />
      <title>Fabulinus</title>
  </head>
  <body>
    <div class="container">
        <div class="page-header">
            <img src="images/logo.png" class="image-responsive"/>
            <h3>Welcome to Fabulinus. Start learning by using KA-Lite or browse Wikipedia for some interesting articles!</h3>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6" style="padding: 5px">
                    <a href="<%= kaliteUrl %>" class="image-responsive">
                        <img src="images/ka-lite.png" style="height:300px"/>
                    </a>
                    <p><br/>Logo &copy Foundation for Learning Equality</p>
                </div>
                <div class="col-md-6" style="padding: 5px">
                    <a href="<%= wikiUrl %>" class="image-responsive">
                        <img src="images/wikipedia.png" style="height:300px"/>
                    </a>
                    <p></br>Logo &copy Wikimedia Foundation</p>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; FABULINUS Foundation.</p>
        </footer>
    </div>
    <script src="javascripts/bootstrap.min.js"></script>
  </body>
</html>